[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = ????
[access "refs/*"]
	owner = group user/aotuil (oatuilzz)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/aotuil (oatuilzz)
	label-Verified = -1..+1 group user/aotuil (oatuilzz)
	push = group user/aotuil (oatuilzz)
	read = group user/aotuil (oatuilzz)
	rebase = group user/aotuil (oatuilzz)
	removeReviewer = group user/aotuil (oatuilzz)
	submit = group user/aotuil (oatuilzz)
[access "refs/heads/*"]
	create = group user/aotuil (oatuilzz)
	push = +force group user/aotuil (oatuilzz)
	pushMerge = group user/aotuil (oatuilzz)
	read = group user/aotuil (oatuilzz)
[access "refs/tags/*"]
	push = group user/aotuil (oatuilzz)
	push = +force group user/aotuil (oatuilzz)
